@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
#out {
  width: 100%;
  text-align: center;
}
#in {
  display: inline-block;
}
body {
  margin: auto;
  padding: 15px;
  max-width: 720px;
  font-family : 'NanumSquareRound', 'sans-serif';
  line-height: 150%;
  /* background: linear-gradient(white, ivory); */
}
@media (max-width: 480px) {
    .vcenter img {
        margin-bottom: 10px;
    }
}
/* h1 {text-align: center;}
h2 {text-align: center;} */
.question {color:navy;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  border-radius: 3px;}
.question::before {
  content: "Q. ";
}
.answer{color:black;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  border-radius: 3px;}
.answer::before {
  content: "A. ";
}
p {font-size: 110%;}
.img-fluid {
  max-width: 50%;
  height: auto;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.shadow {
  /* box-shadow: 2px 2px 2px 2px gray; */
  /* padding: 5px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
}
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}
#myBtn2:hover {
  background-color: #555;
}

.themed {
  display: block;
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    background: rgb(40, 40, 40);
    color: white;
  }
  body {
    background: rgb(40, 40, 40);
    color: white;
  }
  .themed {
    background: rgb(40, 40, 40);
    color: white;
  }

  #myBtn {
    background-color: rgb(188, 188, 241);
    color: black;
  }
  #myBtn2 {
    background-color: rgb(241, 188, 188);
    color: black;
  }
  .question {color:rgb(188, 188, 241);
  }

  a {
    color: rgb(188, 188, 241);
  }
}