@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
#out {
  width: 100%;
  text-align: center;
}
#in {
  display: inline-block;
}
body {
  margin: auto;
  padding: 15px;
  padding-top: 50px;
  max-width: 720px;
  font-family : 'NanumSquareRound', 'sans-serif';
  line-height: 150%;
  /* background: linear-gradient(white, ivory); */
}
@media (max-width: 480px) {
    .vcenter img {
        margin-bottom: 10px;
    }
}
h1 {
  font-size: 28px;
}
/* h1 {text-align: center;}
h2 {text-align: center;} */
.question {color:navy;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  border-radius: 3px;}
.question::before {
  content: "Q. ";
}
.answer{color:black;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 5px;
  border-radius: 3px;}
.answer::before {
  content: "A. ";
}
p {font-size: 110%;}
.img-fluid {
  max-width: 50%;
  height: auto;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.shadow {
  /* box-shadow: 2px 2px 2px 2px gray; */
  /* padding: 5px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
}
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.headwrap {
  height: 50px;
  color: black;
  background: rgb(240, 240, 240);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* padding: auto; */
  align-items: center;
}

.headwrap a {
  color: black;
}

.navbar {
  margin-top: 20px;
	width: 100%;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 15px; 
}

.navbar ul li {
  /* float it to have no issues with whitespace between inline-blocks */
	float: left;
	padding: 15px;
  font-size: 16px;
	font-weight: bold;
  text-align: center;
  /* total width 100% / 5 elements */
  width: 25%;
}


/* No left border for the first one */
.navbar ul li:first-child {
  border-left: none;
}

/* No right border for the last one */
.navbar ul li:last-child {
  border-right: none;
}

/* http://stackoverflow.com/questions/14973317/understanding-bootstraps-clearfix-class */
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
  clear: both;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/* #myBtn:hover{
    background-color: #555;
}
#myBtn2:hover{
  background-color: #555;
}

#myBtn:active{
  background-color: navy;
}
#myBtn2:active{
background-color: crimson;
} */

.themed {
  display: block;
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    background: rgb(40, 40, 40);
    color: white;
  }
  body {
    background: rgb(40, 40, 40);
    color: white;
  }
  .themed {
    background: rgb(40, 40, 40);
    color: white;
  }

  .question {color:rgb(188, 188, 241);
  }

  a {
    color: rgb(188, 188, 241);
  }

  .headwrap {
    color: white;
    background: black;
  }
  
  .headwrap a {
    color: white;
  }
}